<div class="button">
  <button class="" style="font-size:20px;" id="btnStartQuote" ng-click="appSelectionVM.startQuote()" ng-disabled="!appSelectionVM.lookupLoaded">
    <span>Get Quote</span>
  </button>
</div>
<div class="button">
  <button class="" style="font-size:20px;" id="btnStartCPL" ng-click="appSelectionVM.startCPL()" ng-disabled="!appSelectionVM.lookupLoaded">
    <span>CPL</span>
  </button>
</div>
<div class="button">
  <button class="" style="font-size:20px;" id="btnStartReports" >
    <span>Reporting</span>
  </button>
</div>
<div class="button">
  <button class="" style="font-size:20px;" id="btnBlah" >
    <span>No Idea</span>
  </button>
</div>

