<div>
      <form name="welcome" novalidate>
 <div class="section heading">
    <h1>Welcome to Markel Online</h1>
  </div>
  <div class="class-search-wrapper">
                <div class="row error-list-wrapper static">
                    <div class="span11 notice">
                        <span class="notice-message">
                            <b>New! </b>Policy issuance is now available through Markel Online for all binding Quick Quote products on transactions created and effective on or after January 3, 2017. Click <a href="@host/Toolkit/Pages/Announcements.aspx" target="_blank" style="text-decoration: underline;">here</a>  for details on this new feature that is optional for your office’s use.  For support, contact 1-855-872-9006 or email markelOnlineSupport@markelcorp.com. 
                            <br /><br />Check out the <a href="@host/Toolkit/Pages/Announcements.aspx" target="_blank" style="text-decoration: underline;">Announcements archive</a> for information regarding expanded inland marine authority and excess liability authority, the ability to refer accounts through Quick Quote and more.
                        </span>
                    </div>
                </div>
    </div>
    </form>
 </div>