<div class="section heading">
  <h1>Quick Quote</h1>
  <div class="row progress-row">
    <div class="progress-menu">
      <div class="dropdown">
        <a href="#" class="dropdown-link btn btn-turq" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>
        <ul class="dropdown-menu">
          <li><a href="/QuickQuote" class="unlock-transaction">Start a new transaction</a></li>
          <li><a href="#confirm-discard-modal" id="dModal" data-toggle="modal">Delete this transaction</a></li>
          <li><a href="/QuickQuote/SimilarRiskCopy/d64b93a7-da48-4671-9686-39db666e2f78">Copy for similar risk</a></li>
        </ul>
      </div>
    </div>
    <ul class="progress-steps">

      <li class="active">
        <a href="/QuickQuote/ValidateAndRedirect?id=d64b93a7-da48-4671-9686-39db666e2f78&amp;currentStep=AccountInformation&amp;currentLob=&amp;targetStep=AccountInformation&amp;targetLob=">

          <div class="chevron-content">
            <div class="step-number">1</div>
            <div class="progress-details">
              <div class="sub-title">In progress</div>
              <h3>Account Info</h3>
            </div>
          </div>
          <div class="chevron-right"></div>
        </a>
      </li>

      <li class="incomplete">
        <a href="/QuickQuote/ValidateAndRedirect?id=d64b93a7-da48-4671-9686-39db666e2f78&amp;currentStep=AccountInformation&amp;currentLob=&amp;targetStep=CoverageSelection&amp;targetLob=GL" disabled="">

          <div class="chevron-left"></div>
          <div class="chevron-content">
            <div class="step-number">2</div>
            <div class="progress-details">
              <div class="sub-title">Not started</div>
              <h3>Coverages</h3>
            </div>
          </div>
          <div class="chevron-right"></div>

        </a>
      </li>

      <li class="incomplete">
        <a href="/QuickQuote/ValidateAndRedirect?id=d64b93a7-da48-4671-9686-39db666e2f78&amp;currentStep=AccountInformation&amp;currentLob=&amp;targetStep=RatesPremiums&amp;targetLob=GL" disabled="">

          <div class="chevron-left"></div>
          <div class="chevron-content">
            <div class="step-number">3</div>
            <div class="progress-details">
              <div class="sub-title">Not started</div>
              <h3>Rates &amp; Premiums</h3>
            </div>
          </div>
          <div class="chevron-right"></div>

        </a>
      </li>

      <li class="incomplete">
        <a href="/QuickQuote/ValidateAndRedirect?id=d64b93a7-da48-4671-9686-39db666e2f78&amp;currentStep=AccountInformation&amp;currentLob=&amp;targetStep=ReviewQuote&amp;targetLob=" disabled="">

          <div class="chevron-left"></div>
          <div class="chevron-content">
            <div class="step-number">4</div>
            <div class="progress-details">
              <div class="sub-title">Not started</div>
              <h3>Review &amp; Quote</h3>
            </div>
          </div>
          <div class="chevron-right"></div>
        </a>

      </li>

      <li class="incomplete">
        <a href="/QuickQuote/ValidateAndRedirect?id=d64b93a7-da48-4671-9686-39db666e2f78&amp;currentStep=AccountInformation&amp;currentLob=&amp;targetStep=Bind&amp;targetLob=" disabled="">

          <div class="chevron-left"></div>
          <div class="chevron-content">
            <div class="step-number">5</div>
            <div class="progress-details">
              <div class="sub-title">Not started</div>
              <h3>Review &amp; Bind</h3>
            </div>
          </div>
          <div class="chevron-right"></div>
        </a>
      </li>
      <li class="incomplete">
        <a href="/QuickQuote/ValidateAndRedirect?id=d64b93a7-da48-4671-9686-39db666e2f78&amp;currentStep=AccountInformation&amp;currentLob=&amp;targetStep=ReviewIssue&amp;targetLob=" disabled="">
          <div class="chevron-left"></div>
          <div class="chevron-content chevron-contentIssuance">
            <div class="step-number">6</div>
            <div class="progress-details">
              <div class="sub-title">Not started</div>
              <h3>Review &amp; Issue</h3>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

