<form name="accountInfoForm" novalidate>
  <button-bar next="accountInfoVM.continue(form)" save="accountInfoVM.saveQuote(form)" disable-back="true" form-submitted="accountInfoVM.formSubmitted"></button-bar>
  <error-count form-submitted="accountInfoVM.formSubmitted"></error-count>
  <div>
    <uib-accordion close-others="oneAtATime">
      <div uib-accordion-group class="panel-default" is-open="accountInfoVM.policyAccordionStateOpen">
        <uib-accordion-heading>
          Policy Information <i class="pull-right glyphicon"
                                ng-class="{'glyphicon-chevron-down': accountInfoVM.policyAccordionStateOpen, 'glyphicon-chevron-right': !accountInfoVM.policyAccordionStateOpen}"></i>
        </uib-accordion-heading>
        <div>
          <div class="input-row"
               ng-class="{true: has-error}[accountInfoForm.formSubmitted && accountInfoForm.effectiveDate.$invalid]">
            <div class="row"
                 ng-class="{true: has-error}[accountInfoForm.submitted && accountInfoForm.effectiveDate.$invalid]">
              <label>Effective Date</label>
              <div class="col-md-6">
                <div ng-messages="accountInfoForm.effectiveDate.$error" ng-if="accountInfoVM.formSubmitted"
                     style="color:maroon">
                  <div ng-message="required">Please enter a valid effective date.</div>
                  <div ng-message="invalidDate">Please enter a valid effective date.</div>
                </div>
                <input id="effectiveDate" name="effectiveDate" type="text" class="form-control" show-weeks="false"
                       show-button-bar="false"
                       uib-datepicker-popup="MM/dd/yyyy" ng-model="accountInfoVM.accountData.EffectiveDate"
                       is-open="accountInfoVM.dpEffectiveDate.opened"
                       datepicker-options="accountInfoVM.effectiveDateOptions"
                       required
                />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="accountInfoVM.openEffectiveDate()"><i
              class="glyphicon glyphicon-calendar"></i></button>
            </span>
              </div>
            </div>
            <div class="row"
                 ng-class="{true: has-error}[accountInfoForm.formSubmitted && accountInfoForm.expirationDate.$invalid]">
              <label>Expiration Date</label>
              <div class="col-md-6">
                <div ng-messages="accountInfoForm.expirationDate.$error" ng-if="accountInfoVM.formSubmitted"
                     style="color:maroon">
                  <div ng-message="required">Please enter a valid expiration date.</div>
                  <div ng-message="invalidDate">Please enter a valid effective date.</div>
                </div>
                <input id="expirationDate" name="expirationDate" type="text" class="form-control" show-weeks="false"
                       show-button-bar="false"
                       uib-datepicker-popup="MM/dd/yyyy" ng-model="accountInfoVM.accountData.ExpirationDate"
                       is-open="accountInfoVM.dpExpirationDate.opened"
                       datepicker-options="accountInfoVM.expirationDateOptions"
                       required
                />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="accountInfoVM.openExpirationDate()"><i
              class="glyphicon glyphicon-calendar"></i></button>
            </span>
              </div>
            </div>
            <div ng-if="accountInfoVM.accountData.CanBeRenewal" class="input-row">
              <div class="span3 input-column">
                <input id="renewal-checkbox" name="isRenewal" type="checkbox"
                       ng-model="accountInfoVM.accountData.IsRenewal">
                <label>Markel Renewal</label>
              </div>
            </div>

            <div ng-if="accountInfoVM.accountData.IsRenewal">
              <div id="renewal-policy-number">
                <div class="span4 input-column"
                     ng-class="{true: has-error}[accountInfoForm.formSubmitted && accountInfoForm.renewalOfPolicyNumber.$invalid]">
                  <label>Markel Expiring Policy Number<span class="required">*</span></label>
                  <div ng-messages="accountInfoForm.renewalOfPolicyNumber.$error" ng-if="accountInfoVM.formSubmitted"
                       style="color:maroon">
                    <div ng-message="required">Please choose your answer.</div>
                  </div>
                  <input id="renewalOfPolicyNumber" ng-model="accountInfoVM.accountData.RenewalOfPolicyNumber"
                         name="renewalOfPolicyNumber" type="text" ng-required="accountInfoVM.accountData.IsRenewal">
                </div>
              </div>
              <div ng-if="accountInfoVM.accountData.HideHasMaterialChangesQuestion" id="material-change">
                <div class="span6 input-column">
                  <label>Are there any <a href="#" class="material-change-tooltip">material changes</a> to the renewal
                    policy?<span
                      class="required" aria-required="true">*</span></label>
                  <div class="check-row"><input id="hasMaterialChanges"
                                                ng-model="accountInfoVM.accountData.HasMaterialChanges" value="true"
                                                name="hasMaterialChanges" type="radio">
                    <label>Yes</label>
                  </div>
                  <div class="check-row"><input id="hasMaterialChanges"
                                                ng-model="accountInfoVM.accountData.HasMaterialChanges" value="false"
                                                name="hasMaterialChanges" type="radio">
                    <label>No</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
      <!-- Contact Accordian -->
      <div uib-accordion-group class="panel-default" is-open="accountInfoVM.contactAccordionStateOpen">
        <uib-accordion-heading>
          Contact Information <i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-chevron-down': accountInfoVM.contactAccordionStateOpen, 'glyphicon-chevron-right': !accountInfoVM.contactAccordionStateOpen}"></i>
        </uib-accordion-heading>

        <div class="input-row"
             ng-class="{true: 'has-error'}[accountInfoVM.formSubmitted && accountInfoForm.region.$invalid]"
             ng-if="accountInfoVM.isInternalUser">
          <div class="span4 input-column">
            <label for="region">Region</label>
            <div ng-messages="accountInfoForm.region.$error" ng-if="accountInfoVM.formSubmitted" style="color:maroon">
              <div ng-message="required">Please select a region.</div>
            </div>
            <select class="select-menu" id="region" name="region"
                    ng-model="accountInfoVM.accountData.RegionCode"
                    ng-init="accountInfoVM.accountData.RegionCode = accountInfoVM.accountData.RegionCode || accountInfoVM.regionList[0].value"
                    ng-change="accountInfoVM.regionChanged(accountInfoVM.accountData.RegionCode)"
                    ng-options="a.value as a.desc for a in accountInfoVM.regionList"
                    autocomplete="off" required>
            </select>
          </div>
        </div>
        <div class="input-row" ng-if="accountInfoVM.isInternalUser"
             ng-class="{true: 'has-error'}[accountInfoVM.formSubmitted && accountInfoForm.agencyName.$invalid]">
          <label>Search by agency name or code <span class="required" aria-required="true">*</span></label>
          <div ng-messages="accountInfoForm.agencyName.$error" ng-if="accountInfoVM.formSubmitted"
               style="color:maroon">
            <div ng-message="required">Please select an agency.</div>
          </div>
          <input type="text" id="producerSearch" name="producerSearch"
                 ng-model="accountInfoVM.agencySearchResult"
                 placeholder="agency name or code"
                 uib-typeahead="agency as (agency.Code + ' - ' + agency.Description + ' ' + agency.City + ' ' + agency.State) for agency in accountInfoVM.getAgencies($viewValue)"
                 typeahead-loading="loadingAgencies"
                 typeahead-no-results="noAgencyResults" class="form-control"
                 typeahead-min-length="3"
                 typeahead-on-select="accountInfoVM.agencySearchChanged($model)"
                 autocomplete="off" required>
          <i ng-show="loadingAgencies" class="glyphicon glyphicon-refresh">Loading..... be patient</i>
          <div ng-show="noAgencyResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
        <div class="agency-details">
          <div class="input-row">
            <div class="span4 input-column">
              <label>Agency</label>
              <label><span ng-bind="accountInfoVM.accountData.AgencyName"></span></label>
              <input id="agencyName" type="hidden" name="agencyName" type="text"
                     ng-model="accountInfoVM.accountData.AgencyName" required>
            </div>
            <div class="span input-column agency-location">
              <label>Location</label>
              <label><span ng-bind="accountInfoVM.accountData.AgencyAddress1"></span></label>
            </div>
            <div class="span input-column agency-code">
              <label>Agency code</label>
              <label><span ng-bind="accountInfoVM.accountData.AgencyCode"></span></label>
            </div>
          </div>
          <div class="input-row">
            <div class="span4 input-column" ng-if="accountInfoVM.isInternalUser">
              <div
                ng-class="{true: 'has-error'}[accountInfoVM.formSubmitted && accountInfoForm.producerContact.$invalid]">
                <label>Producer's name<span class="required" aria-required="true">*</span></label>
                <div ng-messages="accountInfoForm.producerContact.$error" ng-if="accountInfoVM.formSubmitted"
                     style="color:maroon">
                  <div ng-message="required">Please select a producer.</div>
                </div>
                <select class="select-menu" id="producerContact" name="producerContact"
                        ng-model="accountInfoVM.accountData.ProducerContact.Email"
                        ng-options="a.Email as a.Name for a in accountInfoVM.producerContactList"
                        autocomplete="off"
                        required>
                  <option value="">-- Select Value --</option>
                </select>
              </div>
            </div>
            <div class="span4 input-column" ng-if="!accountInfoVM.isInternalUser">
              <label>Producer's name</label>
              <label><span ng-bind="accountInfoVM.accountData.Name"></span></label>
            </div>
            <div class="span4 input-column">
              <div class="input-column"><label>On behalf of another producer</label>
                <select class="select-menu" id="onBehalfOfContact"
                        name="onBehalfOfContact"
                        ng-model="accountInfoVM.accountData.OnBehalfOfContact.Email"
                        ng-options="a.Email as a.Name for a in accountInfoVM.producerContactList"
                        autocomplete="off">
                  <option value="">-- Select Value --</option>
                </select>
              </div>
            </div>
          </div>
          <div class="input-row">
            <div
              ng-class="{true: 'has-error'}[accountInfoVM.formSubmitted && accountInfoForm.producersEmail.$invalid]">
              <label for="producersEmail">Producer's email<span class="required"
                                                                aria-required="true">*</span></label>
              <div ng-messages="accountInfoForm.producersEmail.$error" ng-if="accountInfoVM.formSubmitted"
                   style="color:maroon">
                <div ng-message="required">E-mail address is required</div>
                <div ng-message="pattern">Please enter a valid e-mail address.</div>
              </div>
              <input class="span4" id="producersEmail" name="producersEmail" type="text"
                     ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                     ng-model="accountInfoVM.accountData.ProducerContact.Email" required
                     aria-required="true">
            </div>
          </div>
          <div class="input-row" ng-if="accountInfoVM.isInternalUser">
            <div class="span4 input-column">
              <div class="input-column"><label>Working underwriter<span class="required"
                                                                        aria-required="true">*</span></label>
                <select class="select-menu" id="underwriterEmail" name="underwriterEmail" aria-required="true"
                        ng-model="accountInfoVM.accountData.Underwriter.Email"
                        ng-init="accountInfoVM.accountData.Underwriter.Email = accountInfoVM.accountData.Underwriter.Email || accountInfoVM.underwriters[0].value"
                        ng-options="a.value as a.desc for a in accountInfoVM.underwriters"
                        autocomplete="off">
                </select>
              </div>
              <div class="span4 input-column">
                <div class="input-column"><label>On behalf of another underwriter</label>
                  <select class="select-menu" id="onBehalfOfUnderwriterEmail"
                          name="onBehalfOfUnderwriterEmail"
                          ng-model="accountInfoVM.accountData.OnBehalfOfUnderwriter.Email"
                          ng-options="a.value as a.desc for a in accountInfoVM.underwriters"
                          autocomplete="off">
                    <option value="">-- Select Value --</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- end underwriter view -->
          </div>
        </div>
      </div>
    </uib-accordion>
    <!-- Account Information Section -->
    <uib-accordion close-others="oneAtATime">
      <div uib-accordion-group class="panel-default" is-open="accountInfoVM.accountAccordionStateOpen">
        <uib-accordion-heading>
          Account Information <i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-chevron-down': accountInfoVM.accountAccordionStateOpen, 'glyphicon-chevron-right': !accountInfoVM.accountAccordionStateOpen}"></i>
        </uib-accordion-heading>
        <div class="collapse-box in shown">
          <div class="input-row">
            <div class="span4 input-column">
              <label for="AccountName">Account name</label>
              <input class="span4 update-target" id="accountName" name="accountName" type="text"
                     ng-model="accountInfoVM.accountData.AccountName">
            </div>
          </div>
          <div class="input-row">
            <div class="span4 input-column">
              <label for="SecondaryAccountName">Account name 2</label>
              <input class="span4 update-target" id="secondaryAccountName" name="secondaryAccountName" type="text"
                     ng-model="accountInfoVM.accountData.SecondaryAccountName">
            </div>
          </div>
          <div class="input-row">
            <div ng-class="{true: 'has-error'}[accountInfoVM.formSubmitted && accountInfoForm.homeStateCode.$invalid]">
              <label for="AccountStateCode">Home State</label>
              <a class="glyphicon glyphicon-info-sign"
                 uib-tooltip="(1) The state in which an insured maintains its principal place of business or, in the case of an individual, the individual’s principal residence; or (2) if 100% of the insured risk is located out of the state, the state to which the greatest percentage of the insured’s taxable premium for that insurance contract is allocated. If required by your home state, surplus lines language will be included in your policy."></a>
              <div ng-messages="accountInfoForm.homeStateCode.$error" ng-if="accountInfoVM.formSubmitted"
                   style="color:maroon">
                <div ng-message="required">Home State is required.</div>
              </div>
              <select class="select-menu" id="homeStateCode" name="homeStateCode"
                      ng-model="accountInfoVM.accountData.HomeState"
                      ng-options="a.value as a.desc for a in accountInfoVM.stateList"
                      autocomplete="off"
                      required>
                <option value="">Select a State</option>
              </select>
            </div>
          </div>
          <div class="input-row">
            <div class="span4 input-column">
              <label><strong>Primary Risk Location</strong></label>
            </div>
          </div>
          <div class="input-row">
            <div class="span4 input-column">
              <label for="AccountAddress1">Address 1</label>

              <input class="span4" id="accountAddress1" name="accountAddress1" type="text"
                     ng-model="accountInfoVM.accountData.SecondaryAccountAddress1">
            </div>
          </div>
          <div class="input-row">
            <div class="span4 input-column">
              <label for="AccountAddress2">Address 2</label>
              <input class="span4" id="accountAddress2" name="accountAddress2" type="text"
                     ng-model="accountInfoVM.accountData.SecondaryAccountAddress2">
            </div>
          </div>
          <div class="input-row">
            <div class="span4 input-column">
              <label for="AccountCity">City</label>
              <input class="span4" id="accountCity" name="accountCity" type="text"
                     ng-model="accountInfoVM.accountData.SecondaryAccountCity">
            </div>
          </div>
          <div class="input-row">
            <div class="span2 input-column">
              <label for="AccountStateCode">State</label>
              <select class="select-menu" id="accountStateCode" name="accountStateCode"
                      ng-model="accountInfoVM.accountData.SecondaryAccountState"
                      ng-options="a.value as a.desc for a in accountInfoVM.stateList"
                      autocomplete="off">
                <option value="">Select a State</option>
              </select>
            </div>
          </div>
          <div class="input-row">
            <div class="span2 input-column">
              <label for="AccountZipCode">Zip Code</label>
              <div ng-messages="accountInfoForm.AccountZipCode.$error" ng-if="accountInfoVM.formSubmitted">
                <div ng-message="pattern">Please enter a valid postal code.</div>
              </div>
              <input class="span2 validate-zip auto-save " id="accountZipCode" name="accountZipCode" type="text"
                     only-digits
                     maxlength="5"
                     ng-pattern="/\d{5}/"
                     ng-model="accountInfoVM.accountData.SecondaryAccountZipCode">
            </div>
          </div>
        </div>
      </div>
    </uib-accordion>
    <button-bar next="accountInfoVM.continue(form)" save="accountInfoVM.saveQuote(form)"
                disable-back="true"></button-bar>
  </div>
</form>

