<footer>
  <div id="footer" class="s4-notdlg">
    <div id="pageFooterBorderLeft">
      <div id="pageFooterBorderRight">
        <div id="pageFooter">
          <nav>
            <!-- Footer Nav -->
            <ul id="pageFooterNav">
              <li><a href="/News/" class="unlock-transaction">News &amp; Announcements</a></li>
              <li><a href="/Pages/AboutMarkel.aspx" class="unlock-transaction">About Markel</a></li>
              <li><a href="/Pages/IndRatings.aspx" class="unlock-transaction">Industry Ratings</a></li>
              <li><a href="/Pages/Contact.aspx" class="unlock-transaction">Contact Us</a></li>
              <li><a href="/Pages/default.aspx#"
                     onclick="PopUp(&#39;500&#39;,&#39;310&#39;,&#39;/CustomForms/MklNewComment.aspx&#39;)"
                     class="unlock-transaction">Comments &amp; Questions</a></li>
              <li><a href="/Pages/Privacy.aspx" class="unlock-transaction">Privacy &amp; Legal Notices</a></li>
            </ul>
            <!-- end Footer Nav -->
          </nav>
          <div id="pageFooterCopyright">
            <p>© Copyright <span id="copyrightYear">2016</span>&nbsp;Markel Corporation</p>
          </div>
          <!--end pageFooterCopyright-->
        </div>
        <!--end pageFooter-->
      </div>
    </div>
  </div>
  <!--end footer-->
</footer>
