<div class="detail-section quick-quote" id="detail-content-transaction-list">
  <div class="section heading">
    <h1>Welcome to Markel Online</h1>
  </div>
  <div class="class-search-wrapper">
    <div class="row error-list-wrapper static">
      <div class="span11 notice">
          <span class="notice-message">
              <b>Reminder!</b> Given the recent tropical storm activity, please review our <a
            href="/Toolkit/Guidelines/Pages/Storm.aspx" target="_blank"
            style="text-decoration: underline;">Approaching Storm Guidelines</a> and stay informed via <a
            href="http://www.weather.gov" target="_blank" style="text-decoration: underline;">The National Weather Service</a>.
              <br/><br/><b>New!</b> Expanded authority for portal excess liability and referral functionality for submit authority excess accounts now available through Quick Quote.  Click <a
            href="/Toolkit/Pages/Announcements.aspx" target="_blank" style="text-decoration: underline;">here</a> for details.
              <br/><br/>Check out the <a href="/Toolkit/Pages/Announcements.aspx" target="_blank"
                                         style="text-decoration: underline;">Announcements archive</a> for information regarding expanded inland marine authority and the ability to refer accounts through Quick Quote, the merger of Essex Insurance Company into Evanston Company, the move to the ISO CGL 2013, and more.
          </span>
      </div>
    </div>
  </div>
  <class-guide-search update-search-results="classSearchVM.srchResultsChanged(sublineId)" update-quote-request="classSearchVM.quoteRequested(selectedItem)" ></class-guide-search>
  <referral-grid></referral-grid>
  <transaction-grid></transaction-grid>
</div>
