/* ---------- PRIMARY NAVIGATION ---------- */
ul.topnav {
  background: #b71234; /* Old browsers */
  background: -moz-linear-gradient(top, #b71234 0%, #910016 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b71234), color-stop(100%, #910016)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b71234 0%, #910016 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b71234 0%, #910016 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b71234 0%, #910016 100%); /* IE10+ */
  background: linear-gradient(top, #b71234 0%, #910016 100%); /* W3C */
  border-bottom: 2px solid #740001;
  border-top: 1px solid #740001;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b71234', endColorstr='#910016', GradientType=0); /* IE6-9 */
  height: 39px;
  list-style: none;
  margin: 0;
  padding: 0 2px 0 5px;
}

ul.topnav li {
  line-height: inherit;
}

ul.topnav > li {
  background: url('/Content/images/primary-nav-separator.png') 0 6px no-repeat;
  color: #fff;
  float: left;
  font-weight: 400;
  line-height: inherit;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
}

ul.topnav > li:first-child {
  background: transparent;
}

ul.topnav > li.hoverAdjacent {
  background: transparent;
}

ul.topnav > li > a {
  color: #fff;
  display: block;
  outline: none;
  padding: 14px 20px;
  font-weight: 600;
  text-decoration: none !important;
  text-transform: uppercase;
}

ul.topnav > li > a.hover {
  background-color: #950219;
}

ul.topnav > li > a.notLinked {
  cursor: default;
}

/* FLYOUTS */
#primaryNav .s4-tn span.dynamic-children > span.additional-background {
  background: url('/Content/images/pointer-920016-down-lrg.png') 0 0 no-repeat !important;
  height: 50px;
  padding: 0;
}

#primaryNav .s4-tn ul.dynamic {
  background: #b1b2b5; /* Old browsers */
  background: -moz-linear-gradient(top, #b1b2b5 0%, #616265 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b1b2b5), color-stop(100%, #616265)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b1b2b5 0%, #616265 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b1b2b5 0%, #616265 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b1b2b5 0%, #616265 100%); /* IE10+ */
  background: linear-gradient(top, #b1b2b5 0%, #616265 100%); /* W3C */
  border: 1px solid #818285;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1b2b5', endColorstr='#616265', GradientType=0); /* IE6-9 */
  margin-top: 2px;
  padding: 15px 12px;
}

#primaryNav .s4-tn ul.dynamic .pointer {
  background: url('/Content/images/pointer-920016-down-lrg.png') 0 0 no-repeat !important;
}

#primaryNav .s4-tn ul.dynamic li.dynamic {
  margin-bottom: 3px;
}

#primaryNav .s4-tn ul.dynamic a.menu-item {
  background: #818285 url('/Content/images/pointer-circle-b71234-right.png') 10px 6px no-repeat;
  font-weight: 600;
  padding: 4px 10px 4px 28px;
  text-transform: none;
}

#primaryNav .s4-tn ul.dynamic a.menu-item span.menu-item-text {
  border: 0 !important;
}

/* end FLYOUTS */

/* MEGA MENU */
/* Mega Menu Container */
.megaMenu {
  background: #b1b2b5; /* Old browsers */
  background: -moz-linear-gradient(top, #b1b2b5 0%, #616265 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b1b2b5), color-stop(100%, #616265)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b1b2b5 0%, #616265 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b1b2b5 0%, #616265 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b1b2b5 0%, #616265 100%); /* IE10+ */
  background: linear-gradient(top, #b1b2b5 0%, #616265 100%); /* W3C */
  border: 1px solid #616265;
  border-top: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1b2b5', endColorstr='#616265', GradientType=0); /* IE6-9 */
  margin-top: 3px;
  padding: 0 12px 15px 12px;
}

ul.topnav .megaMenu {
  left: 0;
  position: absolute;
  top: 39px;
  visibility: hidden;
  z-index: 80;
}

.megaMenu > ul {
  background: url('/Content/images/pointer-920016-down-lrg.png') 0 -1px no-repeat;
  overflow: hidden;
  padding-top: 20px !important;
}

.megaMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.megaMenu li {
  text-transform: none;
}

/* end Mega Menu Container */
/* Mega Menu First Level */
.megaMenu > ul > li {
  margin: 0 0 3px 0;
}

.megaMenu > ul > li > a.notLinked:hover {
  background: #818285 url('/Content/images/pointer-circle-b71234-right.png') 10px 6px no-repeat;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 10px 4px 28px;
  text-decoration: none;
  text-transform: none;
}

.megaMenu > ul > li > a {
  background: #818285 url('/Content/images/pointer-circle-b71234-right.png') 10px 6px no-repeat;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 10px 4px 28px;
  text-decoration: none;
  text-transform: none;
}

.megaMenu > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}

.megaMenu > ul > li > a.notLinked:hover {
  background: #818285 url('/Content/images/pointer-circle-b71234-right.png') 10px 6px no-repeat;
  color: #fff;
  cursor: default;
  display: block;
  font-weight: 600;
  padding: 4px 10px 4px 28px;
  text-decoration: none;
  text-transform: none;
}

.megaMenu > ul > li > a.notLinked {
  background: #818285 url('/Content/images/pointer-circle-b71234-right.png') 10px 6px no-repeat;
  color: #fff;
  cursor: default;
  display: block;
  font-weight: 600;
  padding: 4px 10px 4px 28px;
  text-decoration: none;
  text-transform: none;
}

/* end Mega Menu First Level */
/* Mega Menu Second Level */
.megaMenu > ul > li > ul {
  background-color: #f1f2f5;
  border-top: 0;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 6px 0;
  overflow: hidden;
  padding: 3px 0 10px 3px;
}

.megaMenu > ul > li > ul > li {
  border-left: 1px solid #c1c2c5;
  float: left;
  padding: 0 10px;
}

.megaMenu > ul > li > ul > li:first-child {
  border: 0;
}

.megaMenu > ul > li > ul > li > a {
  color: #b71234;
  display: block;
  padding: 4px 0;
  text-decoration: none;
}

.megaMenu > ul > li > ul > li > a:hover {
  text-decoration: underline;
}

/* end Mega Menu Second Level */
/* Mega Menu Third Level */
.megaMenu > ul > li > ul > li > ul > li {
  border-top: 1px solid #e1e2e5;
}

.megaMenu > ul > li > ul > li > ul > li:first-child {
  border-top: 0;
}

.megaMenu > ul > li > ul > li > ul > li > a {
  color: #b71234;
  display: block;
  padding: 4px 0;
  text-decoration: none;
}

.megaMenu > ul > li > ul > li > ul > li > a:hover {
  text-decoration: underline;
}

.megaMenu > ul > li > ul > li > ul > li > a.notLinked:hover {
  cursor: default;
  text-decoration: none;
}

.megaMenu > ul > li > ul > li > ul > li > a.notLinked {
  cursor: default;
  text-decoration: none;
}

/* end Mega Menu Third Level */
/* Mega Menu Fourth Level */
.megaMenu > ul > li > ul > li > ul > li > ul {
  font-weight: 400;
  margin: 0 0 4px 10px;
  overflow: hidden;
}

.megaMenu > ul > li > ul > li > ul > li > ul > li > a {
  color: #313235;
  display: block;
  padding: 2px 0;
  text-decoration: underline;
}

.megaMenu > ul > li > ul > li > ul > li > ul > li > a:hover {
  text-decoration: underline;
}

/* end Mega Menu Fourth Level */
/* end MEGA MENU */
/* ---------- end PRIMARY NAVIGATION ---------- */
