<form name="coverageVM.coverageSelectionForm" novalidate>
    <display-notices messages="coverageVM.policy[coverageVM.lob.ModelName]" field-name="coverageVM.lob.Id"></display-notices>
    <button-bar next="coverageVM.continue(form)" save="coverageVM.savePolicy(form)" back="coverageVM.navigateBack(form)" form-submitted="coverageVM.formSubmitted"></button-bar>
    <div>
        <uib-accordion close-others="oneAtATime">
            <!-- General Liability Accordian -->
            <div uib-accordion-group class="panel-default" is-open="coverageVM.classAccordionState">
                <uib-accordion-heading>
                    {{::coverageVM.lob.Desc}} Classes <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': coverageVM.classAccordionState, 'glyphicon-chevron-right': !coverageVM.classAccordionState}"></i>
                </uib-accordion-heading>
                <div ng-if="coverageVM.riskUnits != null && coverageVM.riskUnits.length >0">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" ng-repeat="(riskIndex, riskUnitItem) in coverageVM.riskUnits" is-open="coverageVM.riskAcc.isOpen[riskIndex]">
                            <uib-accordion-heading>
                                <div uib-dropdown="dropdown" class="dropdown-holder" ng-click="coverageVM.preventClassAccordionOpen($event)">
                                    <button class="btn btn-icon" uib-dropdown-toggle><span class="glyphicon glyphicon-cog"
                                                                         ng-class="{active: item.bookmark}"></span>
                  </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                        <li role="menuitem"><a ng-click="coverageVM.viewNotes(riskIndex, $event)">View notes and
                      guidelines</a></li>
                                        <li role="menuitem" ng-if="!coverageVM.policy.IsReadOnly"><a ng-click="coverageVM.removeClass(riskIndex, $event)">Remove class</a></li>
                                    </ul>
                                </div>
                                <div class="class-header">
                                    <span class="location">Location: <span class="bold"><span class="header-location-number">{{riskUnitItem.riskUnit.LocationNumber}}</span> @ <span class="header-zip-code">{{riskUnitItem.riskUnit.ZipCode}}</span> |
                                    <span class="header-state-code">{{riskUnitItem.riskUnit.StateCode}}</span> - <span class="header-territory">{{riskUnitItem.riskUnit.Territory}}</span></span>
                                    </span>
                                    <span class="class">Class: <span class="bold">{{riskUnitItem.riskUnit.ClassCode}}</span> <i class="glyphicon glyphicon-info-sign" tooltip-placement="right" uib-tooltip="{{riskUnitItem.riskUnit.ClassDescription}}"></i></span>

                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': coverageVM.riskAcc.isOpen[riskIndex], 'glyphicon-chevron-right': !coverageVM.riskAcc.isOpen[riskIndex]}"></i>
                                </div>
                            </uib-accordion-heading>
                            <div class="collapse-box location-exposure-section">

                                <div ng-switch="riskUnit.showSublineSection()">
                                    <div ng-switch-when="1">
                                        <div class="authority-messaging">
                                            <p>The authority for ProdCOps is submit. How would you like to proceed?</p>
                                            <div class="check-row">
                                                <input type="radio" name="RiskUnits[{{::riskIndex}}].ExcludeProdCops" id="RiskUnits[{{::riskIndex}}].ExcludeProdCops" ng-model="riskUnit.ProdCOpsSubline.IsExcluded" ng-value="true" ng-change="coverageVM.valueChanged(riskUnit.ProdCOpsSubline.IsExcluded,riskUnitItem.riskUnit.Order,'GeneralLiability/ExcludeSubline',riskUnit.ProdCOpsSubline.IsExcluded)">
                                                <label>Continue & Exclude Prod COps and proceed within your authority</label>
                                            </div>
                                            <div class="check-row">
                                                <input type="radio" name="RiskUnits[{{::riskIndex}}].ExcludeProdCops" id="RiskUnits[{{::riskIndex}}].ExcludeProdCops" ng-model="riskUnit.ProdCOpsSubline.IsExcluded" ng-value="false" ng-change="coverageVM.valueChanged(riskUnit.ProdCOpsSubline.IsExcluded,riskUnitItem.riskUnit.Order,'GeneralLiability/ExcludeSubline',riskUnit.ProdCOpsSubline.IsExcluded)">
                                                <label>Continue & Submit for UW consideration for ProdCOps</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="2" class="authority-messaging">
                                        <p>We are not a market for this class. Contact your underwriter to discuss options to write the risk while excluding this specific exposure</p>
                                        <div class="authority-links">
                                            <div class="link-text-row">
                                                <a ng-click="coverageVM.deleteTransaction()" data-toggle="modal" class="link-text">Remove transaction</a>
                                            </div>
                                            <div class="link-text-row">
                                                <a ng-click="coverageVM.removeLOB()" data-toggle="modal" class="link-text">Remove line of business</a>
                                            </div>
                                            <div class="link-text-row">
                                                <a ng-click="coverageVM.removeClass(riskIndex, $event)" class="link-text remove-class-modal">Remove class</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                        <display-messages messages="riskUnit.Messages" field-name="'GlRiskUnit'"></display-messages>
                                    </div>
                                </div>

                                <div ng-include="'../scripts/quoteComponents/pages/coverageSelection/template/zipStateTerritory.component.html'" onload="riskUnit=riskUnitItem.riskUnit; index=riskIndex"></div>

                                <div class="input-row" ng-if="coverageVM.isInternalUser">
                                    <div class="input-column span4">
                                        <label>Premium base<span class="required" aria-required="true">*</span></label>
                                        <select id="RiskUnits[{{::riskIndex}}].PremiumBaseDDL" ng-model="riskUnitItem.riskUnit.PremiumBase" class="premium-base-dropdown span4" ng-options="a.Description as a.Name for a in coverageVM.PremiumBaseList | orderBy:'Order'" ng-change="coverageVM.valueChanged(riskUnitItem.riskUnit.PremiumBase,riskUnitItem.riskUnit.Order,'GeneralLiability/PremiumBase')">
                                            <option value="">Select One</option>
                                        </select>
                                    </div>
                                    <div class="input-column span2">
                                        <label>Premium base divisor</label>
                                        <input class="premium-base-divisor span2" disabled="disabled" ng-model="riskUnitItem.riskUnit.PremiumBaseUnitMeasureQuantity" id="RiskUnits[{{::riskIndex}}].PremiumBaseDivisor" type="text">
                                    </div>
                                </div>

                                <div ng-include="'../scripts/quoteComponents/pages/coverageSelection/template/exposureInfo.component.html'" onload="riskUnit=riskUnitItem.riskUnit; index=riskIndex"></div>

                                <display-messages ng-if="coverageVM.isInternalUser" messages="riskUnitItem.riskUnit.Messages" field-name="'SublineRates'"></display-messages>

                                <div ng-if="riskUnitItem.riskUnit.showSublineRates()" ng-include="'../scripts/quoteComponents/pages/cpl/coverageSelection/sublineRateOverride.component.html'" onload="riskUnit=riskUnitItem.riskUnit; index=riskIndex;"></div>

                                <questions list="riskUnitItem.riskUnit.Questions" class-order="riskUnitItem.riskUnit.Order" service="'RiskUnitQuestion'" lob="coverageVM.lob" policy="coverageVM.policy" on-update="coverageVM.updateField(service, params)"></questions>
                            </div>
                        </div>
                    </uib-accordion>
                </div>

                <!-- Add Class area -->
                <class-selection lob="coverageVM.lob" policy="coverageVM.policy" class-added="coverageVM.classAdded()"></class-selection>
            </div>

            <div ng-if="coverageVM.riskUnits != null && coverageVM.riskUnits.length >0">
                <!-- Line Questions -->
                <questions list="coverageVM.policy.GlLine.Questions" service="'LineQuestion'" lob="coverageVM.lob" policy="coverageVM.policy" on-update="coverageVM.updateField(service, params)"></questions>

                <!-- Forms & Endorsements -->
                <add-form ng-if="coverageVM.isInternalUser && !coverageVM.policy.IsReadOnly" lob="coverageVM.lob" policy="coverageVM.policy" document-added="coverageVM.documentAdded(documentId)"></add-form>

                <!-- Additional Coverages -->
                <optional-coverages coverage-groups="coverageVM.coverageGroups" lob="coverageVM.lob" policy="coverageVM.policy" on-update="coverageVM.updateField(service, params)"></optional-coverages>

                <!-- Forms & Endorsements -->
                <forms-endorsements lob="coverageVM.lob" policy="coverageVM.policy" form-groups="coverageVM.formGroups" on-update="coverageVM.updateField(service, params)"></forms-endorsements>

                <!-- Add Forms & Endorsements -->
                <add-form ng-if="coverageVM.isInternalUser && !coverageVM.policy.IsReadOnly" lob="coverageVM.lob" policy="coverageVM.policy" document-added="coverageVM.documentAdded(documentId)"></add-form>
            </div>
            <!-- Package Options -->
            <!--<div ng-if="coverageVM.policy.PackageOptions && coverageVM.policy.PackageOptions.length > 0">
                <coverage-packaging policy="coverageVM.policy"></coverage-packaging>
            </div>-->

            <button-bar selected-lob="coverageVM.lob" policy="coverageVM.policy"></button-bar>

        </uib-accordion>
    </div>
</form>
